.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .grid {
    display: grid;
    gap: 1px;
    border: 1px solid #353535;
    height: 450px;
  }
  
  .alive {
    background-image: url('/images/frog.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #CFE9EC;
    background-size: 30px;
  }
  
  .dead {
    background-color: #CFE9EC;
  }
  
  .controls {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    button {
      padding: 8px 18px;
      border: none;
      cursor: pointer;
      color: #fff;
      border-radius: 5px;
    }
  }
  
  .stopButton {
    background-color: #ba1f33;
  }

  .startButton {
    background-color: #3498db;
  }
  
  .randomButton {
    background-color: #3c6e71;
  }
  
  .resetButton {
    background-color: #777777;
    margin-right: auto;
  }

  .speedInput {
    cursor: pointer;
  }